/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* @import url("https://font.elice.io/css?family=Elice+Digital+Coding"); */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  text-align: center;
  width: 4%;
  border: 1px solid #ddd;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */

/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    font-family: 'Pretendard-Regular';
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 */

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #36475c;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #263747;
}

.header {
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #414547;
}

main {
  display: flex;
  height: calc(100vh - (3.5rem));
}

.problem {
  height: 100%;
  padding: 16px;
  color: #b2c0cc;
  overflow-y: auto;
  & .title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #414547;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    & a {
      color: #8b8b8b;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
    & svg {
      width: 16px;
      margin: 0px 5px;
      color: #8b8b8b;
    }
    & h1 {
      font-size: 20px;
      font-weight: 600;
    }
  }
  & .question {
    width: 100%;
    padding: 30px 20px;
    box-sizing: border-box;
    & h2 {
      font-size: 16px;
      font-weight: 600;
    }
    & p {
      margin: 20px 0px;
      font-weight: 400;
      white-space: pre-wrap;
    }
    & .example {
      margin-top: 80px;
      & table {
        min-width: 30%;
        margin-top: 20px;
        border: 1px solid #414547;
        background-color: #182025;
        & th,
        & td {
          text-align: left;
          padding: 10px;
          border: 1px solid #414547;
          white-space: pre-wrap;
        }
      }
    }
  }
}

.code-wrapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.solution-wrapper {
  height: calc(100vh - (3.5rem + 3.5625rem));
}

.output {
  border: 1px solid #414547;
  width: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: #182025;
  overflow-y: auto;
  & h3 {
    color: #e2e2e2;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.submit {
  width: 100%;
  height: 3.5625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-sizing: border-box;
  border-left: 1px solid #414547;
  background-color: #232a2f;
}

.code-output {
  width: 100%;
  margin-bottom: 12px;
  & tbody {
    width: 100%;
    background-color: #232a2f;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #414547;
    box-sizing: border-box;
    & th {
      width: 15%;
      color: #8d8d8d;
      text-align: left;
      padding: 5px 10px;
    }
    & td {
      width: 80%;
      color: #e2e2e2;
      padding: 5px 10px;
    }
  }
}

.result-list {
  & li {
    color: #e2e2e2;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    & .title {
      color: #8d8d8d;
    }
    & .icon {
      width: 18px;
      height: 18px;
      color: #8d8d8d;
      margin: 0px 6px;
    }
    & .loading {
      color: #8d8d8d;
    }
  }
}

dialog {
  width: 100vw;
  height: 100vh;
  border: 0;
  outline: none;
  background-color: #00000065;
  overflow: hidden;
  & .dialog-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    & .inner {
      width: 350px;
      padding: 25px 20px;
      background-color: #fff;
      border-radius: 4px;
      box-sizing: border-box;
      & h4 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      & p {
        font-size: 18px;
      }
      & form {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        & button {
          background-color: #232a2f;
          padding: 8px 30px;
          font-size: 14px;
          font-weight: 600;
          border-radius: 6px;
          color: #fff;
          border: 0px;
          cursor: pointer;
        }
      }
    }
  }
}

.gutter {
  width: 15px;
  background-image: url('/public/gutter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: e-resize;
}

.gutter_vertical {
  height: 15px;
  background-image: url('/public/gutter_ver.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: n-resize;
  background-color: #182025;
  border: solid 1px #414547;
  border-bottom: none;
}

.title {
  position: relative;
}

pre {
  background: #202b3d;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}
